* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

#aabningstider {
  display: flex;
  place-content: center;
}

#aabningstider p {
  color: #024a1d;
  margin: 0%;
}

#aabningstiderh2 {
  color: #024a1d;
  font-family: tenso, sans-serif;
  font-weight: 500;
  /* font-style: medium; */
  font-size: 2.2rem;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  place-content: center;
}

#kontakt {
  background-color: #fdd0c3;
}

#kort_hen_til_kaffen {
  width: 100%;
  height: 300px;
  flex: 50%;
}

#kort_hen_til_kaffen iframe {
  width: 100%;
  height: 100%;
}

iframe {
  margin: 1rem;
  padding: 1rem;
}

label,
input,
button {
  display: block;
  margin: 0.4rem 0px;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  color: #024a1d;
  border-radius: 7px;
  box-shadow: 0%;
  border-color: #024a1d;
  width: 15rem;
}

form {
  display: flex;
  place-content: center;
}

#indsendknap {
  display: flex;
  place-content: center;
}

#nyhedsbrevh2 {
  color: #024a1d;
  font-family: tenso, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.2rem;
  margin: 2rem;
}

#nyhedsbrev p {
  color: #024a1d;
  margin: 2rem;
}
