#art_second {
  background-color: #fc7f00;
}

#art_gallery img {
  display: block;
}

.horizontal-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.vertical-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div[class^="art_img"] {
  position: relative;
  background-size: cover;
}

/* https://stackoverflow.com/questions/5110249/wildcard-in-css-for-classes */
div[class^="art_img"]:hover img {
  transition: 500ms ease-in-out;
  opacity: 0;
  display: block;
  width: 100%;
}
.art_text1 h2 {
  padding-bottom: 1rem;
}

.art_img1:hover {
  background-image: url(/images/art_first7.png);
}

.art_img2:hover {
  background-image: url(/images/art_third21.png);
}

.art_img3:hover {
  background-image: url(/images/art_second2.png);
}

.art_text {
  opacity: 0;
  position: absolute; /* https://stackoverflow.com/questions/10487292/position-absolute-but-relative-to-parent */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  transition: opacity 500ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5rem;
  font-family: tenso, sans-serif;
  font-weight: 700;
  font-style: medium;
}

div[class^="art_img"]:hover .art_text {
  opacity: 1;
}

@media (min-width: 720px) {
  #art_first,
  #art_second {
    min-height: 600px;
  }
  #art_first {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #art_first img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  #art_first .art_text1 {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #art_second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fc7f00;
  }

  #art_second .art_text2 {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #art_second .art_text2 p {
    color: white;
  }

  #art_second img {
    order: +1;
    object-fit: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
    max-height: 600px;
  }

  #art_third {
    display: grid;
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  #art_third p {
    padding-right: 5rem;
    padding-left: 10rem;
    padding-bottom: 2rem;
  }
  #art_gallery {
    display: flex;
    gap: 2rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: center;
  }

  .art_text1 p {
    padding-right: 5rem;
  }

  .art_text2 p {
    padding-left: 2rem;
  }
  /* 
  .img_art1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  } */
}

/* ------------------- TO TOP BUTTON ------------------ */

.front_btn {
  position: fixed;
  z-index: 999999;

  bottom: 30px;
  right: 30px;
}

#btn .front_btn img {
  width: 3.5rem;
}
#btn img {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.43);
  border-radius: 190px;
}

.front_btn:hover {
  background-image: url(/images/btn_back.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.front_btn:hover img {
  opacity: 0%;
}

/* ------------------- TO TOP BUTTON SLUT ------------------ */

/* ------------------- FOOTER START HER CSS ------------------ */
footer {
  background-color: #fdd0c3;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer p {
  color: #024a1d;
  margin: 0%;
  padding: 0%;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 0.3rem;
}

footer h3 {
  text-transform: uppercase;
  margin: 0%;
  padding: 0%;
  font-size: 1.3rem;
  color: black;
}

.kontakt_foot,
.findos_foot,
.aaben_foot {
  margin-bottom: 2.5rem;
}

.icon_foot {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer .icon_foot .img_icon1 {
  max-width: 2rem;
  max-height: 2rem;
}

footer .icon_foot .img_icon2 {
  max-width: 2rem;
  max-height: 2rem;
}

@media (min-width: 720px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 2rem;
    text-align: left;
    place-items: left;
    padding-top: 3rem;
    padding-left: 5rem;
  }
  footer a {
    margin: 0%;
    margin-left: 2rem;
    padding: 0%;
  }

  footer .icon_foot {
    grid-column: 6/7;
  }

  .kontakt_foot,
  .findos_foot,
  .aaben_foot {
    margin-right: 2.5rem;
  }
}

/* ------------------- FOOTER SLUT CSS -------------------- */
