footer {
  background-color: #fdd0c3;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer p {
  color: #024a1d;
  margin: 0%;
  padding: 0%;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 0.3rem;
}

footer h3 {
  text-transform: uppercase;
  margin: 0%;
  padding: 0%;
  font-size: 1.3rem;
}

.kontakt_foot,
.findos_foot,
.aaben_foot {
  margin-bottom: 2.5rem;
}

.icon_foot {
  display: flex;
  justify-content: center;
}
.icon_foot img {
  width: 100%;
}

@media (min-width: 720px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 2rem;
    text-align: left;
    place-items: left;
    padding-top: 3rem;
    padding-left: 5rem;
  }
  footer a {
    margin: 0%;
    margin-left: 2rem;
    padding: 0%;
  }

  footer .icon_foot {
    grid-column: 6/7;
  }

  footer img {
    width: 100%;
    flex-shrink: 0;
  }
  .kontakt_foot,
  .findos_foot,
  .aaben_foot {
    margin-right: 2.5rem;
  }
}
