#art_second {
  background-color: #fc7f00;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 720px) {
  #art_first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
  }

  #art_first img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  #art_first .art_text1 {
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 9rem;
  }

  #art_second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh;
    background-color: chocolate;
  }
  #art_second .art_text2 {
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
    padding-top: 9rem;
  }

  #art_second .art_text2 p {
    color: white;
  }

  #art_second img {
    order: +1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  #art_third {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh;
    text-align: center;
    justify-content: center;
    padding-top: 10rem;
  }

  #art_gallery {
    display: flex;
    gap: 2rem;
    padding-bottom: 6rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .img_art1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
}

/* ------------ FOOTER START HER CSS ------------- */
footer {
  background-color: #fdd0c3;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer p {
  color: #024a1d;
  margin: 0%;
  padding: 0%;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 0.3rem;
}

footer h3 {
  text-transform: uppercase;
  margin: 0%;
  padding: 0%;
  font-size: 1.3rem;
  color: black;
}

.kontakt_foot,
.findos_foot,
.aaben_foot {
  margin-bottom: 2.5rem;
}

.icon_foot {
  display: flex;
  justify-content: center;
}
.icon_foot img {
  width: 100%;
}

@media (min-width: 720px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 2rem;
    text-align: left;
    place-items: left;
    padding-top: 3rem;
    padding-left: 5rem;
  }
  footer a {
    margin: 0%;
    margin-left: 2rem;
    padding: 0%;
  }

  footer .icon_foot {
    grid-column: 6/7;
  }

  footer img {
    width: 100%;
    flex-shrink: 0;
  }
  .kontakt_foot,
  .findos_foot,
  .aaben_foot {
    margin-right: 2.5rem;
  }
}

/* ------------ FOOTER SLUT CSS ------------- */
