/* * {
  margin: 0;
  box-sizing: border-box;
} */
/*---------SPLASH-----------*/
.splash_text_container {
  position: absolute;
  bottom: 15%;
  left: 10%;
}

#splash_section p {
  /* max-width: 45ch; */
  text-shadow: 1px 1px #ffff;
  /* color: #fc7f00; */
  font-size: 1.5rem;
  /* font-weight: 500; */
  font-style: medium;
}
/*-----------NAVIGATION------------*/
header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.burger_container {
  width: 100%;
}

.burger {
  padding-top: 2rem;
  padding-right: 2rem;
  /*gennemsigtig baggrund uden kant*/
  background: transparent;
  border: none;

  /*ikonets præcise størrelse*/
  aspect-ratio: 50/48;

  /*musen bliver til en pegefinger når man kører den over ikonet*/
  cursor: pointer;

  z-index: 10;

  position: fixed;
}

/*------Kode der bruges i javascript------*/
.hide {
  opacity: 0;
}
.logo {
  display: block;
  grid-column: 1;
  aspect-ratio: 350/150;
  width: 20vh;
  padding-top: 2rem;
  position: fixed;
}
/*--------------------------------------------*/

@media (max-width: 720px) {
  nav {
    top: 0;
    right: 0;
    display: flex;
    transition: 0.4s;
    transform: translateX(100%);
    justify-content: end;
  }

  nav.shown {
    transform: none;
  }
  header nav ul {
    /* position: sticky; */
    list-style: none;
    padding: 1rem;
    z-index: 4;
  }

  li {
    padding: 1rem;
  }

  ul.white {
    background-color: white;
    height: 100vh;
    width: 40vh;
    display: grid;
    place-content: center;
  }

  .burger {
    display: block;
  }
  .burger_container {
    display: flex;
    justify-content: flex-end;
  }

  video {
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: opacity(60%);
  }

  #splash_section {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
}

/*her har jeg slettet margin: 1rem;*/
@media (min-width: 720px) {
  header nav {
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
    padding: 1rem;
  }

  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 2rem;
  }

  .burger {
    display: none;
  }

  nav {
    display: block;
  }

  /* h1 {
    color: #fc7f00;
  } */

  /*---------NAVIGATION SLUT-----------*/

  /*SPLASH-SEKTION I DESKTOP-VERSION*/
  #splash_section {
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: opacity(60%);
  }

  /* 45ch = kode for at sætningerne i p ikke bliver for lange */
  #splash_section p {
    max-width: 45ch;
    /* color: #fc7f00; */
  }

  /*MENUEN I DESKTOP-VERSION*/
  #menu_section {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
  }

  #menu_section h2 {
    grid-column: 2;
  }
  #menu_section .section_wrapper {
    margin: 1rem;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  #menu_section .section_wrapper p {
    font-size: 1rem;
  }
  #menu_section {
    background-color: #f8d247;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #menu_section h2,
  #menu_section h3 {
    display: flex;
    justify-content: center;
  }

  #menu_section.section_wrapper,
  h2 {
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  #menu_section.section_wrapper,
  h3 {
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  #third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #third_section img {
    order: 1;
  }
}

#menu_section {
  background-color: #f8d247;
  padding-left: 2rem;
  padding-right: 2rem;
}

#menu_section h2,
#menu_section h3 {
  display: flex;
  place-content: center;
  flex-flow: wrap;
}

#menu_section.section_wrapper,
h2 {
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 0;
}
#menu_section.section_wrapper,
h3 {
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 0;
}

/* .splash {
  height: auto;
  background-image: url(/splash2.png);
  background-size: cover;
} */

/* .splash video {
  grid-area: 1/1;
  position: absolute;
} */

/* .indhold {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem;
  display: block;
  z-index: 1;
} */

.col1 p,
.col2 p,
.col3 p {
  padding: 0;
  margin: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

#splash_section .section_wrapper h1 {
  grid-row: 3;
  grid-column: 1;
  padding-left: 1rem;
  margin-left: 1rem;
  padding: 0;
}

#splash_section .section_wrapper p {
  grid-row: 3;
  grid-column: 1;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#splash_section .section_wrapper h1 {
  margin-right: 2rem;
}

a {
  margin: 1rem;
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.content p {
  grid-row: 2;
}
